<%
  goal = report[:goals].find{ |goal| goal.type == options[:type] }
  last_years_goal = report[:last_years_goals].find{ |goal| goal.type == options[:type] }

  if goal.present?
    metrics = goal.kpi_result.metrics
    last_years_metrics = last_years_goal ? last_years_goal.kpi_result.metrics : []
%>
<div class="card box-shadow mb-4">
  <div class="card-header">
    <strong><%= options[:title] %></strong><br>
    <small class="text-muted small"><%= options[:subtitle] %></small>
  </div>
  <div class="<%= options[:type] %>-chart m-4"></div>
</div>
<script>
$(function() {
  var chart_data = convertToPercentageOverviewChartData(JSON.parse('<%= escape_javascript raw(metrics.to_json) %>'), JSON.parse('<%= escape_javascript raw(last_years_metrics.to_json) %>'), <%= goal.metric || 'null' %>);
  c3.generate({
      padding: {
         right: 40,
         left: 40
      },
      bindto: d3.select('.<%= options[:type] %>-chart'),
      data: {
        xs: {
          'previous': 'x',
          'current': 'x',
          'goal': 'min_max'
        },
        columns: chart_data,
        names: {
          'previous': '<%= last_years_goal&.quarter&.name %>',
          'current': '<%= goal.quarter.name %>'
        }
      },
      axis: {
        y: {
          min: <%= options[:min_y] || 0 %>,
          padding: { top: 100, bottom:0 }
        },
      },
      grid: {
        x: {
            lines: [
                {value: '<%= Date.today.cweek %>', text: 'This period'}
            ]
        }
      },
      point: {
        show: true
      },
      line: {
        connectNull: true
      }
   });
});
</script>
<% end %>
