<% if report.contains_goal_for?(options[:type]) %>
<div class="card box-shadow mb-4">
  <div class="card-header">
    <strong><%= options[:title] %></strong><br>
    <small class="text-muted small"><%= options[:subtitle] %></small>
  </div>
  <div class="<%= options[:type] %>-chart m-4"></div>
</div>
<script>
$(function() {
  var chart_data = convertToPercentageOverviewChartData(JSON.parse('<%= escape_javascript raw(report.metrics_for(options[:type]).to_json) %>'), JSON.parse('<%= escape_javascript raw(last_years_report.metrics_for(options[:type]).to_json) %>'), <%= report.metric_for(options[:type]) || 'null' %>);
  c3.generate({
      padding: {
         right: 40,
         left: 40
      },
      bindto: d3.select('.<%= options[:type] %>-chart'),
      data: {
        xs: {
          'previous': 'x',
          'current': 'x',
          'goal': 'min_max'
        },
        columns: chart_data,
        names: {
          'previous_x': '<%= last_years_report.goal_for(options[:type])&.quarter&.name %>',
          'current_x': '<%= report.goal_for(options[:type]).quarter.name %>'
        }
      },
      axis: {
        y: {
          min: <%= options[:min_y] || 0 %>,
          padding: { top: 100, bottom:0 }
        },
      },
      grid: {
        x: {
            lines: [
                {value: '<%= Date.today.cweek %>', text: 'This period'}
            ]
        }
      },
      point: {
        show: true
      },
      line: {
        connectNull: true
      }
   });
});
</script>
<% end %>
