<div class="main">
  <div class="row pl-3">
    <ul class="nav">
      <% @quarters.each do |quarter| %>
      <li class="nav-item">
        <a class="btn btn-outline-jumbo btn-sm shadow-sm mb-4 mr-2 <%= 'active' if quarter == @current_quarter %>"
          href="<%= department_kpi_dashboard_path(quarter_id: quarter.id) %>">
          <%= quarter.name %>
        </a>
      </li>
     <% end %>
    </ul>
  </div>
  <div class="card box-shadow mb-4">
    <div class="card-header">
      <a href="<%= department_kpi_dashboard_path(quarter: @current_quarter, format: 'csv') %>"
        class="card-link float-right">
        Download as csv file
      </a>
      <strong>Today's <%= @department.name %> KPI goals overview for quarter <%= @current_quarter.name %></strong><br>
      <small class="text-muted small"></small>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
          <thead>
            <tr class="small">
              <% @report[:table][0][0..-2].each do |header_item| %>
              <th><div><%= header_item %></div></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @report[:table][1..-1].each do |row| %>
            <tr class="small">
             <% row[0..-2].each_with_index do |row_item, index| %>
             <td class="<%= 'text-center' unless index == 0 %> <%= "bg-#{row[-1]}" if row_item == row[-2] %>"">
             <%= row_item %>
             </td>
             <% end %>
           </tr>
           <% end %>
          </tbody>
      </table>
    </div>
  </div>
    <%= render partial: 'cumulative_kpi_chart', locals: { report: @report, options: { type: :deployments, header: 'Number of deployment issues (cumulative)' } } %>
    <%= render partial: 'cumulative_kpi_chart', locals: { report: @report, options: { type: :p1s, header: 'Number of P1 issues (cumulative)' } } %>
    <%= render partial: 'cumulative_kpi_chart', locals: { report: @report, options: { type: :issues, header: 'Number of released issues (cumulative)' } } %>
</div>
