<header>
  <nav class="navbar navbar-light navbar-white fixed-top navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="<%= home_path %>">
      <%= image_tag('320px-Jumbo_Logo.png', height: '32', class:'mr-3') %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'text-yellow' if action_name == 'cycle_time' || action_name == 'short_cycle_time' %>" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cycle time
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <a class="dropdown-item <%= 'active' if action_name == 'cycle_time' %>" href="<%= cycle_time_report_path(board_id: @teams.first.board_id) %>">
              Teams - Cycle time
            </a>
            <a class="dropdown-item <%= 'active' if action_name == 'short_cycle_time' %>" href="<%= short_cycle_time_report_path(board_id: @teams.first.board_id) %>">
              Teams - Short cycle time
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'text-yellow' if action_name == 'portfolio' %>" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <% @departments.each do |department| %>
            <a class="dropdown-item <%= 'active' if action_name == 'portfolio' && @department.id == department.id %>" href="<%= portfolio_report_path(department_id: department.id) %>">
              <%= department.name %>
            </a>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'text-yellow' if controller_name == 'sprint_report' %>" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sprints
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <% @scrum_teams.each do |team| %>
              <a class="dropdown-item <%= 'active' if @board && team.name == @board.team.name && controller_name == 'sprint_report' %>" href="<%= last_sprint_report_path(board_id: team.board_id)%>"><%= team.name %></a>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= 'text-yellow' if action_name == 'deployment' %>" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Deployments
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
            <% @deployment_projects.each do |deployment_project| %>
            <a class="dropdown-item <%= 'active' if action_name == 'deployment' && @deployment_project.id == deployment_project.id %>" href="<%= deployment_report_path(deployment_project_key: deployment_project.key) %>">
              <%= deployment_project.name %>
            </a>
            <% end %>
          </div>
        </li>
      </ul>
      <%= link_to 'Refresh data', sprint_report_refresh_path(board_id: @board.id), method: :post, class: 'btn btn-secondary', data: { disable_with: "In progress..." } if @board %>
    </div>
  </nav>
</header>
