<header>
  <nav class="navbar navbar-light navbar-white fixed-top navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag('320px-Jumbo_Logo.svg.png', height: '32', class:'mr-3') %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= last_sprint_report_path(board_id: @board.id) %>">Team <%= @board.team.name %><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sprints
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% @board.recent_sprints(6).each do |sprint| %>
              <a class="dropdown-item <%= 'active' if sprint == @sprint %>"
                href="<%= sprint_report_path(id: sprint.id, board_id: @board.id)%>">
                <%= sprint.name %><%= " (current sprint)" unless sprint.complete_date %></a>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Teams
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% @teams.each do |team| %>
              <a class="dropdown-item <%= 'active' if team.name == @board.team.name %>" href="<%= last_sprint_report_path(board_id: team.board_id)%>"><%= team.name %></a>
            <% end %>
          </div>
        </li>
      </ul>
      <%= link_to 'Refresh data', sprint_report_refresh_path(board_id: @board.id), method: :post, class: 'btn btn-secondary', data: { disable_with: "In progress..." }  %>
    </div>
  </nav>
</header>
