<div>
  <p>
    <%= @sprint %>
    Closed issues:
    <%= @sprint.closed_issues.each{ |issue| issue.to_s } %>
    Open issues:
    <%= @sprint.open_issues %>
    Added issues
    <%= @sprint.issues_added_after_start %>
    <%= @sprint.sprint_epics %>
    <%= @sprint.sprint_parent_epics %>
  </p>
</div>
