<div>
    <%= @sprint %><br>
    Closed issues:<br>
    <% @sprint.closed_issues.each do |issue| %>
      <%= issue %><br>
    <% end %>
    Open issues:<br>
    <% @sprint.open_issues.each do |issue| %>
      <%= issue %><br>
    <% end %>

    <% @sprint.sprint_epics.each do |sprint_epic| %>
      <%= sprint_epic %><br>
    <% end %>

    <% @sprint.sprint_parent_epics.each do |sprint_parent_epic| %>
      <%= sprint_parent_epic %><br>
    <% end %>

</div>
