<nav class="navbar navbar-white fixed-top navbar-expand-md" role="navigation">
  <div class="float-left">
    <span class="card-header">Sprint:</span>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-info active">
        <input type="checkbox" autocomplete="off" checked><%= @sprint.name %>
      </label>
    </div>
  </div>
</nav>
<div class="col-md-12 col-xl-12 main">
     <div class="row">
       <div class="col-xl-6">
           <div class="card box-shadow mb-4">
               <div class="card-header">Portfolio view</div>
                <% @sprint.sprint_parent_epics.each do |sprint_parent_epic| %>
                <div class="card-body">

                   <div class="progress">
                     <div
                     <% if sprint_parent_epic.parent_epic.id > 0 %>
                      class="progress-bar bg-yellow"
                      <% else %>
                      class="progress-bar bg-orange"
                      <% end %>
                     role="progressbar" aria-valuenow="<%= sprint_parent_epic.percentage_of_points_closed.round() %>"
                     aria-valuemin="0"
                     aria-valuemax="100" style="width: <%= sprint_parent_epic.percentage_of_points_closed.round() %>%;">
                     </div>
                     <span class="progress-type"><%= sprint_parent_epic.parent_epic.key %> - <%= sprint_parent_epic.parent_epic.summary %></span>
                     <span class="progress-completed"><%= sprint_parent_epic.percentage_of_points_closed.round() %>%</span>
                   </div>
               </div>
               <% end %>
           </div>
           <div class="card box-shadow mb-4">
               <div class="card-header">Epics view</div>
                <% @sprint.sprint_epics.each do |sprint_epic| %>
                <div class="card-body">
                   <div class="progress">
                     <div
                     <% if sprint_epic.epic.id > 0 %>
                     class="progress-bar bg-yellow"
                     <% else %>
                     class="progress-bar bg-orange"
                     <% end %>
                     role="progressbar" aria-valuenow="<%= sprint_epic.percentage_of_points_closed.round() %>"
                     aria-valuemin="0"
                     aria-valuemax="100" style="width: <%= sprint_epic.percentage_of_points_closed.round() %>%;">
                     </div>
                     <span class="progress-type"><%= sprint_epic.epic.key %> - <%= sprint_epic.epic.summary %></span>
                     <span class="progress-completed"><%= sprint_epic.percentage_of_points_closed.round() %>%</span>
                   </div>
               </div>
               <% end %>
           </div>
       </div>
       <div class="col-xl-6">
           <div class="card box-shadow">
               <div class="card-header">Issues</div>
               <div class="card-body">
                   <ul class="nav nav-tabs" role="tablist">
                       <li class="nav-item">
                         <a href="#closed" id="closed-tab" role="tab" data-toggle="tab" class="nav-link active" aria-controls="closed" aria-expanded="true">Closed</a>
                       </li>
                       <li class="nav-item">
                         <a href="#open" id="open-tab" role="tab" data-toggle="tab" class="nav-link" aria-controls="open" aria-expanded="false">Open</a>
                       </li>
                   </ul>
                   <!-- Tab panes -->
                   <div class="tab-content">
                       <div class="tab-pane active" id="closed">
                           <table class="table table-bordered">
                               <thead>
                                   <tr class="small">
                                       <th>Code</th>
                                       <th>Title</th>
                                       <th>Estimation</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <% @sprint.closed_issues.each do |issue| %>
                                   <tr class="small">
                                    <td nowrap><%= issue.key %></td>
                                    <td><%= issue.summary %></td>
                                    <td><%= issue.estimation %></td>
                                  </tr>
                                  <% end %>
                               </tbody>
                           </table>
                       </div>
                       <div class="tab-pane" id="open">
                           <table class="table table-bordered">
                               <thead>
                                   <tr>
                                       <th>Code</th>
                                       <th>Title</th>
                                       <th>Estimation</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <% @sprint.open_issues.each do |issue| %>
                                   <tr class="small">
                                    <td nowrap><%= issue.key %></td>
                                    <td><%= issue.summary %></td>
                                    <td><%= issue.estimation %></td>
                                  </tr>
                                  <% end %>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
     </div>
   </div>
