<%= render 'nav_bar' %>
<main role="main" class="container-fluid">
  <div class="col-md-12 col-xl-12 main">
     <div class="row">
       <div class="col-xl-6">
           <div class="card box-shadow mb-4">
               <div class="card-header">
                 <strong>Portfolio view</strong><br>
                 <small class="text-muted small">Percentage of points closed per portfolio epic compared to total points closed in the sprint</small>
               </div>
                <% @sprint.sprint_parent_epics.each do |sprint_parent_epic| %>
                <div class="card-body">

                   <div class="progress">
                     <div
                     <% if sprint_parent_epic.parent_epic.id > 0 %>
                      class="progress-bar bg-yellow"
                      <% else %>
                      class="progress-bar bg-orange"
                      <% end %>
                     role="progressbar" aria-valuenow="<%= sprint_parent_epic.percentage_of_points_closed.round() %>"
                     aria-valuemin="0"
                     aria-valuemax="100" style="width: <%= sprint_parent_epic.percentage_of_points_closed.round() %>%;">
                     </div>
                     <span class="progress-type"><%= "#{sprint_parent_epic.parent_epic.key} - #{sprint_parent_epic.parent_epic.summary}" %></span>
                     <span class="progress-completed"><%= sprint_parent_epic.percentage_of_points_closed.round() %>%</span>
                   </div>
               </div>
               <% end %>
           </div>
           <div class="card box-shadow mb-4">
               <div class="card-header">
                 <strong>Epic view</strong><br>
                 <small class="text-muted small">Percentage of points closed per epic compared to total points closed in the sprint</small>
               </div>
                <% @sprint.sprint_epics.each do |sprint_epic| %>
                <div class="card-body">
                   <div class="progress">
                     <div
                     <% if sprint_epic.epic.id > 0 %>
                     class="progress-bar bg-yellow"
                     <% else %>
                     class="progress-bar bg-orange"
                     <% end %>
                     role="progressbar" aria-valuenow="<%= sprint_epic.percentage_of_points_closed.round() %>"
                     aria-valuemin="0"
                     aria-valuemax="100" style="width: <%= sprint_epic.percentage_of_points_closed.round() %>%;">
                     </div>
                     <span class="progress-type"><%= "#{sprint_epic.epic.key} - #{sprint_epic.epic.summary}" %></span>
                     <span class="progress-completed"><%= sprint_epic.percentage_of_points_closed.round() %>%</span>
                   </div>
               </div>
               <% end %>
           </div>
       </div>
       <div class="col-xl-6">
           <div class="card box-shadow">
               <div class="card-header">
                 <strong>Sprint view</strong><br>
                 <small class="text-muted small">Overview of data and statistics of the sprint</small>
               </div>
               <div class="card-body">
                   <div>
                     <table class="table table-borderless">
                         <tbody>
                             <tr>
                              <td class="small p-1" width="30%"><strong>Team</strong></td>
                              <td class="small p-1">
                                <img src="<%= @board.team.avatars['24x24'] %>" alt="" class="mr-2 rounded" height="24" width="24">
                                <%= @board.team.name %>
                              </td>
                            </tr>
                            <tr>
                             <td class="small p-1"><strong>Sprint</strong></td>
                             <td class="small p-1">
                               <% if @sprint.complete_date %>
                                <%= "#{@sprint.name} (started: #{@sprint.start_date.strftime('%d-%m-%Y')}, ended: #{@sprint.complete_date.strftime('%d-%m-%Y')})" %>
                               <% else %>
                                <%= "Current sprint (started: #{@sprint.start_date.strftime('%d-%m-%Y')})" %>
                               <% end %>
                             </td>
                            </tr>
                            <tr>
                             <td class="small p-1"><strong>Points closed</strong></td>
                             <td class="small p-1">
                                <%= @sprint.points_closed %>
                             </td>
                           </tr>
                           <tr>
                            <td class="small p-1"><strong>Points open</strong></td>
                            <td class="small p-1">
                               <%= @sprint.points_open %>
                            </td>
                          </tr>
                          <tr>
                           <td class="small p-1"><strong>Percentage of points closed</strong></td>
                           <td class="small p-1">
                             <div class="progress">
                               <div class="progress-bar bg-yellow"
                               role="progressbar" aria-valuenow="<%= @sprint.percentage_closed.round() %>"
                               aria-valuemin="0"
                               aria-valuemax="100" style="width: <%= @sprint.percentage_closed.round() %>%;">
                               </div>
                               <span class="progress-completed"><%= @sprint.percentage_closed.round() %>%</span>
                             </div>
                           </td>
                          </tr>
                          <tr>
                           <td class="small p-1"><strong>Percentage of issues closed</strong></td>
                           <td class="small p-1">
                             <div class="progress">
                               <div class="progress-bar bg-yellow"
                               role="progressbar" aria-valuenow="<%= @sprint.percentage_of_issues_closed.round() %>"
                               aria-valuemin="0"
                               aria-valuemax="100" style="width: <%= @sprint.percentage_of_issues_closed.round() %>%;">
                               </div>
                               <span class="progress-completed"><%= @sprint.percentage_of_issues_closed.round() %>%</span>
                             </div>
                           </td>
                          </tr>
                        </tbody>
                     </table>
                   </div>

                   <ul class="nav nav-tabs" role="tablist">
                       <li class="nav-item">
                         <a href="#closed" id="closed-tab" role="tab" data-toggle="tab"
                         class="nav-link active" aria-controls="closed" aria-expanded="true">Closed issues (<%= @sprint.closed_issues.size %>)</a>
                       </li>
                       <li class="nav-item">
                         <a href="#open" id="open-tab" role="tab" data-toggle="tab"
                         class="nav-link" aria-controls="open" aria-expanded="false">Open issues (<%= @sprint.open_issues.size %>)</a>
                       </li>
                   </ul>
                   <!-- Tab panes -->
                   <div class="tab-content">
                       <div class="tab-pane active" id="closed">
                           <table class="table table-bordered">
                               <thead>
                                   <tr class="small">
                                       <th>Code</th>
                                       <th>Title</th>
                                       <th>Estimation</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <% @sprint.closed_issues.each do |issue| %>
                                   <tr class="small">
                                    <td nowrap><%= issue.key %></td>
                                    <td><%= issue.summary %></td>
                                    <td><%= issue.estimation %></td>
                                  </tr>
                                  <% end %>
                               </tbody>
                           </table>
                       </div>
                       <div class="tab-pane" id="open">
                           <table class="table table-bordered">
                               <thead>
                                   <tr>
                                       <th>Code</th>
                                       <th>Title</th>
                                       <th>Estimation</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <% @sprint.open_issues.each do |issue| %>
                                   <tr class="small">
                                    <td nowrap><%= issue.key %></td>
                                    <td><%= issue.summary %></td>
                                    <td><%= issue.estimation %></td>
                                  </tr>
                                  <% end %>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
     </div>
   </div>
</main>
