<%= render 'shared/nav_bar' %>
<main role="main" class="container-fluid">
  <div class="main">
     <div class="card box-shadow mb-4">
       <div class="card-header">
         <strong><%= @deployment_project.name %>: Automated deployment issues</strong><br>
       </div>
       <div class="bar-chart m-4"></div>
     </div>

     <script>
     $(function() {
       var chart_data = convertToDeploymentChartData(JSON.parse('<%= raw(@stats.to_json) %>'));
       c3.generate({
           padding: {
              right: 40,
              left: 40
           },
           bindto: d3.select('.bar-chart'),
           data: {
             xs: {
               deployments: 'deployment_x',
               trendline: 'trendline_x'
             },
             columns: chart_data,
             type: 'bar',
             types: {
               trendline: 'line'
             }
           },
           axis: {
             y: {
               min: 0,
               padding: { top: 5, bottom:0 }
             },
             x: {
               type: 'timeseries',
               tick: {
                fit: true,
                count: 6,
                format: '%d-%m-%Y'
               }
             }
           },
           point: {
             show: false
           },
           bar: {
              width: {
                  ratio: 0.03
              },
              space: 2
          }
        });
     });
    </script>

     <div class="card box-shadow mb-4">
       <div class="card-header">
         <a href="<%= deployment_report_path(deployment_project_key: @deployment_project.key, format: 'csv') %>"
           class="card-link float-right">
           Download as csv file
         </a>
         <strong><%= @deployment_project.name %>: Automated deployment issues</strong><br>
       </div>
       <div class="card-body">
         <table class="table table-bordered">
             <thead>
               <tr class="small">
                 <% @table[0].each do |header_item| %>
                 <th><%= header_item %></th>
                 <% end %>
               </tr>
             </thead>
             <tbody>
               <% @table[1..-1].each do |row| %>
               <tr class="small">
                 <% row.each do |row_item| %>
                <td class="text-center">
                  <%= row_item %>
                </td>
                <% end %>
              </tr>
              <% end %>
             </tbody>
         </table>
       </div>
    </div>
  </div>
</main>
