<%= render 'shared/nav_bar' %>
<main role="main" class="container-fluid">
  <div class="main">
    <div class="row pl-3">
      <ul class="nav">
        <% @dates.each do |date| %>
        <li class="nav-item">
          <a class="btn btn-outline-secondary btn-sm shadow-sm mb-4 mr-2 <%= 'active' if date == @selected_date %>"
            href="<%= portfolio_report_path(date: date.to_date) %>">
            Week <%= "#{date.cweek} & #{date.cweek + 1}" %>
          </a>
        </li>
       <% end %>
      </ul>
     </div>
     <div class="card box-shadow mb-4">
       <div class="card-header">
         <a href="<%= portfolio_report_path(date: @selected_date, format: 'csv') %>"
           class="card-link float-right">
           Download as csv file
         </a>
         <strong>Portfolio report week <%= "#{@selected_date.cweek} & #{@selected_date.cweek + 1}" %></strong><br>
         <small class="text-muted small">Percentage of work per team per portfolio epic in sprints that span across these weeks</small>
       </div>
       <div class="card-body">
         <table class="table table-bordered">
             <thead>
               <tr class="small">
                 <% @table[0].each do |header_item| %>
                 <th><%= header_item %></th>
                 <% end %>
               </tr>
             </thead>
             <tbody>
               <% @table[1..-1].each do |row| %>
               <tr class="small">
                 <% row.each_with_index do |row_item, index| %>
                <td class="<%= 'text-center' unless index == 0 %>">
                  <%= row_item %>
                </td>
                <% end %>
              </tr>
              <% end %>
             </tbody>
         </table>
       </div>
    </div>
  </div>
</main>
